---
import "../styles/global.css";
import Layout from '../layouts/Layout.astro';
import Navbar from "../components/Navbar.astro";
const images = [
  { src: "/events/1.jpeg", alt: "Nebula 1" },
  { src: "/events/2.jpeg", alt: "Nebula 2" },
  { src: "/events/3.jpeg", alt: "Nebula 3" },
  { src: "/events/4.jpeg", alt: "Nebula 1" },
  { src: "/events/5.jpeg", alt: "Nebula 2" },
  { src: "/events/6.jpeg", alt: "Nebula 3" },
];
---
<Layout>
  <div class="relative bg-cover bg-center h-screen" style="background-image: url('/gallery-bg.jpg')">
    <Navbar />
    <div class="flex flex-col items-center pt-24 md:pt-32">
      <div class="text-white text-center mb-12">
        <h1 class="text-4xl md:text-6xl font-bold">GALLERY</h1>
      </div>
      
      <div class="container mx-auto px-6">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
          {images.map((image) => (
            <img src={image.src} alt={image.alt} class="w-full h-64 object-cover rounded-lg shadow-lg" />
          ))}
        </div>
      </div>
    </div>
  </div>
</Layout>
