---
import "../styles/global.css"
import Layout from '../layouts/Layout.astro';
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import FAQ from "../components/FAQ.astro";
import Timer from "../components/Timer.astro"
import EventTimeline from "../components/EventTimeline.astro";
import Sponsors from "../components/Sponsors.astro"
import Theme from "../components/Theme.astro"
---

<Layout>
    <div class="text-white relative ">
      <Navbar />
      <Hero />
      <Timer />
      <Theme />
      <EventTimeline />
      <Sponsors />
      <FAQ />
    </div>
</Layout>

