---
import "../styles/global.css"
import Layout from '../layouts/Layout.astro';
import Hero from "../components/Hero.astro";
import FAQ from "../components/FAQ.astro";
import Timer from "../components/Timer.astro"
import EventTimeline from "../components/EventTimeline.astro";
import Sponsors from "../components/Sponsors.astro";
import Theme from "../components/Theme.astro";
import Footer from "../components/Footer.astro";
import KuiperBelt from "../components/KuiperBelt.astro";
---

<Layout>
    <div class="relative">
      <Hero />
      <KuiperBelt />
      <Timer />
      <Theme />
      <EventTimeline />
      <Sponsors />
      <FAQ />
      <Footer />
    </div>
</Layout>

