---
import "../styles/global.css"
import Layout from '../layouts/Layout.astro';
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Events from "../components/Events.astro";
import FAQ from "../components/FAQ.astro";
import Timer from "../components/Timer.astro"
---

<Layout>
    <div class="text-white relative ">
      <Navbar />
      <Hero />
      <Timer />
      <Events />
      <FAQ />
    </div>
</Layout>

