---
import Hero from "./Hero.astro"
import Navbar from "./Navbar.astro"
import Events from "./Events.astro"
---

<div class="text-white p-4 md:p-6 relative ">
  <Navbar />
  <Hero />
  <Events />
</div>

