---
---
<div class="relative w-full h-screen overflow-hidden">
  <video 
    autoplay 
    muted 
    loop 
    playsinline 
    class="absolute top-1/2 left-1/2 min-w-full min-h-full w-auto h-auto transform -translate-x-1/2 -translate-y-1/2 z-[-1] object-cover brightness-70"
  >
    <source src="/video.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>

  <div class="relative z-10 text-white p-6">
    <div class="flex justify-between items-center">
        <div class="text-4xl font-medium relative after:block after:h-[2px] after:w-0 after:bg-white after:transition-all after:duration-300 hover:after:w-full hover:font-bold"><a href="/">Manan</a></div>
        <div class="flex gap-6 text-lg">
          <a href="#events" class="relative after:block after:h-[1px] after:w-0 after:bg-white after:transition-all after:duration-300 hover:after:w-full hover:font-bold">
            Events
          </a>
          <a href="#gallery" class="relative after:block after:h-[1px] after:w-0 after:bg-white after:transition-all after:duration-300 hover:after:w-full hover:font-bold">
            Gallery
          </a>
          <a href="#teams" class="relative after:block after:h-[1px] after:w-0 after:bg-white after:transition-all after:duration-300 hover:after:w-full hover:font-bold">
            Teams
          </a>
          <a href="#register" class="relative after:block after:h-[1px] after:w-0 after:bg-white after:transition-all after:duration-300 hover:after:w-full hover:font-bold">
            Register
          </a>
        </div>
    </div>
  </div>
</div>
