---
---

<section class="relative min-h-[80vh] md:min-h-screen flex flex-col justify-center items-center md:items-start z-20">
<div class="w-full md:max-w-[50%] text-center md:text-left px-4 md:pl-12">
  <h1 class="text-4xl sm:text-5xl md:text-6xl font-bold text-purple-200">Zenith</h1>
  <p class="mt-4 text-lg sm:text-xl md:text-2xl max-w-prose leading-relaxed text-gray-300">
    Dive into the ultimate coding marathon where 
    creativity meets resilience. Build, innovate, 
    and showcase your solutions to real-world challenges.
  </p>
</div>
</section>
