---
import EarthCanvas from "./EarthCanvas.astro";
---

<div class="z-20 absolute top-2/5 left-[3rem] text-white max-w-[50%]">
  <h1 class="text-6xl font-bold">Zenith</h1>
  <p class="mt-4 text-2xl max-w-prose leading-[2rem]">
    Dive into the ultimate coding marathon where 
    creativity meets resilience. Build, innovate, 
    and showcase your solutions  
    to real-world challenges.
  </p>
</div>

<EarthCanvas />
