---
import EarthCanvas from "./EarthCanvas.astro";
---
<div class="min-h-screen w-full relative overflow-hidden">
  <EarthCanvas />

  <div class="flex flex-col pt-[10vh] lg:pt-[20vh] items-center bg-inherit gap-8 px-4 relative z-10">
    <div class="flex flex-col items-center">
      <h1 class="text-6xl lg:text-[160px] font-bold">Zenith 4.0</h1>
      <h1 class="text-sm lg:text-2xl font-bold w-full text-center">Presented by Manan from JC Bose University YMCA, Faridabad</h1>
      <h3 class="text-3xl mt-5 lg:text-5xl">HACK IN GEEK OUT</h3>
    </div>
    <div class="flex flex-col items-center text-center">
      <h1 class="text-xl lg:text-3xl font-bold mb-3">25 ARIL - 26 APRIL</h1>
        <button onclick="window.location.href='https://zenith4-0.devfolio.co/overview'" class="cursor-pointer flex justify-center items-center">
            <img src="/devfolio_button.png" class="w-[60%] rounded-sm" alt="DEVFOLIO LOGO" />
        </button>
    </div>
    <div class="flex flex-col items-center">
      <h1 class="text-4xl font-bold w-full text-center">Exciting prizes worth 1LAC+</h1>
    </div>
  </div>
</div>
