<div class="sticky top-0 w-full z-50 backdrop-blur-md bg-white/3 py-5 px-4 border-b-2 border-zinc-700 shadow-zinc-700/50 shadow-lg text-white">
  <div class="flex md:flex-row justify-between items-center gap-4 md:gap-0">
    <div class="flex items-center gap-5">
        <img
          src="https://mananatechnosurge.web.app/static/media/manan-logo.34db9b6581336e58ce30.png"
          width="30"
          height="30"
          alt="Manan Logo"
          class="shrink-0 drop-shadow-[0_0_20px_rgba(251,146,60,1)]"
        />
      <div class="text-2xl lg:text-3xl font-semibold hidden md:block relative after:block after:h-[2px] after:w-0 after:bg-white after:transition-all after:duration-300 hover:after:w-full hover:font-bold">
        <a href="/">Manan</a>
      </div>
    </div>

    <div class="flex flex-wrap justify-center md:justify-end gap-2 md:gap-6 text-base lg:text-2xl items-center font-medium">
      <a href="/events" class="relative after:block after:h-[1px] after:w-0 after:bg-white after:transition-all after:duration-300 hover:after:w-full hover:font-bold">Events</a>
      <a href="/gallery" class="relative after:block after:h-[1px] after:w-0 after:bg-white after:transition-all after:duration-300 hover:after:w-full hover:font-bold">Gallery</a>
      <a href="/teams" class="relative after:block after:h-[1px] after:w-0 after:bg-white after:transition-all after:duration-300 hover:after:w-full hover:font-bold">Teams</a>
      <div class="hidden lg:block">
      <div 
          class="apply-button" 
          data-hackathon-slug="zenith4-0" 
          data-button-theme="light"
          style="height: 44px; width: 312px"
      ></div>
      </div>
    </div>
  </div>
</div>
