---

---
<div class="flex flex-col md:flex-row justify-between items-center relative z-20 gap-4 md:gap-0 pt-2">
<div class="text-3xl hidden md:block md:text-4xl font-medium relative after:block after:h-[2px] after:w-0 after:bg-white after:transition-all after:duration-300 hover:after:w-full hover:font-bold">
  <a href="/">Manan</a>
</div>
<div class="flex gap-4 md:gap-6 text-base md:text-lg items-center">
  <a href="#events" class="relative after:block after:h-[1px] after:w-0 after:bg-white after:transition-all after:duration-300 hover:after:w-full hover:font-bold">Events</a>
  <a href="#gallery" class="relative after:block after:h-[1px] after:w-0 after:bg-white after:transition-all after:duration-300 hover:after:w-full hover:font-bold">Gallery</a>
  <a href="#teams" class="relative after:block after:h-[1px] after:w-0 after:bg-white after:transition-all after:duration-300 hover:after:w-full hover:font-bold">Teams</a>
  <a href="#register" class="relative after:block after:hAccuracy-[1px] after:w-0 after:bg-white after:transition-all after:duration-300 hover:after:w-full hover:font-bold">Register</a>
</div>
</div>

