<div class="sticky top-0 w-full z-50 backdrop-blur-md bg-white/3 py-5 px-4 border-b-2 border-zinc-700 shadow-zinc-700/50 shadow-lg text-white">
  <div class="flex md:flex-row justify-between items-center gap-4 md:gap-0">
    <div class="flex items-center gap-5">
        <img
          src="https://mananatechnosurge.web.app/static/media/manan-logo.34db9b6581336e58ce30.png"
          width="30"
          height="30"
          alt="Manan Logo"
          class="shrink-0 drop-shadow-[0_0_20px_rgba(251,146,60,1)]"
        />
      <div class="text-2xl font-medium hidden md:block relative after:block after:h-[2px] after:w-0 after:bg-white after:transition-all after:duration-300 hover:after:w-full hover:font-bold">
        <a href="/">Manan</a>
      </div>
    </div>

    <div class="flex flex-wrap justify-center md:justify-end gap-3 md:gap-6 text-base md:text-lg items-center">
      <a href="/events" class="relative after:block after:h-[1px] after:w-0 after:bg-white after:transition-all after:duration-300 hover:after:w-full hover:font-bold">Events</a>
      <a href="/gallery" class="relative after:block after:h-[1px] after:w-0 after:bg-white after:transition-all after:duration-300 hover:after:w-full hover:font-bold">Gallery</a>
      <a href="/teams" class="relative after:block after:h-[1px] after:w-0 after:bg-white after:transition-all after:duration-300 hover:after:w-full hover:font-bold">Teams</a>
      <a href="/register" class="relative after:block after:h-[1px] after:w-0 after:bg-white after:transition-all after:duration-300 hover:after:w-full hover:font-bold border-2 px-2 py-1 rounded-lg border-double hover:bg-zinc-800 hover:shadow-lg hover:shadow-zinc-500">Register</a>
    </div>
  </div>
</div>
