<h1 class="text-4xl lg:text-6xl flex justify-center underline mt-3">Sponsors</h1>
<div class="flex flex-wrap gap-4 justify-center max-w-5xl mx-auto p-4">
  <a href="https://ethindia.co" rel="nofollow">
    <img src="/sponsors/ethindia.jpg" alt="ETHINDIA LOGO" class="h-24 w-auto object-contain cursor-pointer " />
  </a>
  <a href="https://devfolio.co" rel="nofollow">
    <img src="/sponsors/devfolio.jpg" alt="DEVFOLIO LOGO" class="h-24 w-auto object-contain cursor-pointer " />
  </a>
  <a href="https://nordvpn.com/hackathons" rel="nofollow">
    <img src="/sponsors/nordvpn.png" alt="NORDVPN LOGO" class="h-24 w-auto object-contain cursor-pointer" />
  </a>
  <a href="https://sybgen.com" rel="nofollow">
    <img src="/sponsors/sybgen.png" alt="SYBGEN LOGO" class="h-24 w-auto object-contain cursor-pointer p-3" />
  </a>
  <a href="https://zsecurity.org" rel="nofollow">
    <img src="/sponsors/zsecurity.webp" alt="ZSECURITY LOGO" class="h-24 w-auto object-contain cursor-pointer p-3" />
  </a>
  <a href="https://www.stickermule.com" rel="nofollow">
    <img src="/sponsors/stickermule.png" alt="STICKER MULE LOGO" class="h-24 w-auto object-contain cursor-pointer" />
  </a>
</div>
