<h1 class="text-4xl lg:text-6xl flex justify-center underline mt-3">Sponsors</h1>
<div class="flex flex-wrap gap-4 justify-center max-w-5xl mx-auto p-4">
  <img src="/sponsors/ethindia.png" class="invert p-3 w-30 lg:w-80 h-auto object-contain" />
  <img src="/sponsors/devfolio.png" class="w-30 lg:w-80 h-auto object-contain p-3" />
  <img src="/sponsors/nordvpn.png" class="w-30 lg:w-80 h-auto object-contain p-3" />
  <img src="/sponsors/sybgen.png" class="p-3 w-30 lg:w-80 h-auto object-contain" />
  <img src="/sponsors/zsecurity.webp" class="p-3 w-30 lg:w-80 h-auto object-contain" />
  <img src="/sponsors/stickermule.png" class="p-3 w-30 lg:w-80 h-auto object-contain" />
</div>
