<h1 class="text-4xl lg:text-6xl flex justify-center mt-8 mb-12 font-bold underline">Sponsors</h1>
<div class="flex flex-wrap gap-6 justify-center max-w-6xl mx-auto p-6">
  <a href="https://ethindia.co" rel="nofollow">
    <img src="/sponsors/ethindia.jpg" alt="ETHINDIA LOGO" class="h-28 w-auto object-contain cursor-pointer p-4" />
  </a>
  <a href="https://devfolio.co" rel="nofollow">
    <img src="/sponsors/devfolio.jpg" alt="DEVFOLIO LOGO" class="h-28 w-auto object-contain cursor-pointer p-4" />
  </a>
  <a href="https://nordvpn.com/hackathons" rel="nofollow">
    <img src="/sponsors/nordvpn.png" alt="NORDVPN LOGO" class="h-28 w-auto object-contain cursor-pointer p-4 " />
  </a>
  <a href="https://incogni.com/" rel="nofollow">
    <img src="/sponsors/incogni.png" alt="INCOGNI LOGO" class="h-28 w-auto object-contain cursor-pointer p-4 " />
  </a>
  <a href="https://nordpass.com/" rel="nofollow">
    <img src="/sponsors/nordpass.png" alt="NORDPASS LOGO" class="h-28 w-auto object-contain cursor-pointer p-4" />
  </a>
  <a href="https://saily.com/" rel="nofollow">
    <img src="/sponsors/saily.png" alt="SAILY LOGO" class="h-28 w-auto object-contain cursor-pointer p-4 " />
  </a>
  <a href="https://sybgen.com" rel="nofollow">
    <img src="/sponsors/sybgen.png" alt="SYBGEN LOGO" class="h-28 w-auto object-contain cursor-pointer p-4" />
  </a>
  <a href="https://zsecurity.org" rel="nofollow">
    <img src="/sponsors/zsecurity.webp" alt="ZSECURITY LOGO" class="h-28 w-auto object-contain cursor-pointer p-4 " />
  </a>
  <a href="https://www.stickermule.com" rel="nofollow">
    <img src="/sponsors/stickermule.png" alt="STicker MULE LOGO" class="h-28 w-auto object-contain cursor-pointer p-4 " />
  </a>
</div>
