<h1 class="text-6xl flex justify-center underline">Sponsors</h1>

<div class="flex flex-wrap gap-4 justify-center max-w-5xl mx-auto p-4">
  <img src="https://www.terminal.shop/images/og.png" class="w-80 h-auto object-contain" />
  <img src="https://www.terminal.shop/images/og.png" class="w-80 h-auto object-contain" />
  <img src="https://www.terminal.shop/images/og.png" class="w-80 h-auto object-contain" />
  <img src="https://www.terminal.shop/images/og.png" class="w-80 h-auto object-contain" />
  <img src="https://www.terminal.shop/images/og.png" class="w-80 h-auto object-contain" />
  <img src="https://www.terminal.shop/images/og.png" class="w-80 h-auto object-contain" />
</div>
