<div class="text-center mt-10">
  <div class="text-center mb-6">
      <h1 class="text-4xl lg:text-6xl underline font-bold">REGISTRATION ENDS IN</h1>
  </div>
  <div class="flex justify-center flex-wrap gap-2">
    <div class="flex flex-col items-center mx-2">
      <div class="flex gap-1">
        <img src="/0.png" class="w-6 md:w-16 lg:w-24 timer" id="days-ones" alt="clock"/>
      </div>
    </div>
    
    <div class="flex items-center text-4xl font-bold text-white">:</div>
    
    <div class="flex flex-col items-center mx-2">
      <div class="flex gap-1">
        <img src="/0.png" class="w-6 md:w-16 lg:w-24 timer" id="hours-tens" alt="clock"/>
        <img src="/0.png" class="w-6 md:w-16 lg:w-24" id="hours-ones" alt="clock"/>
      </div>
    </div>
    
    <div class="flex items-center text-4xl font-bold text-white">:</div>
    
    <div class="flex flex-col items-center mx-2">
      <div class="flex gap-1">
        <img src="/0.png" class="w-6 md:w-16 lg:w-24 timer" id="minutes-tens" alt="clock"/>
        <img src="/0.png" class="w-6 md:w-16 lg:w-24 timer" id="minutes-ones"  alt="clock"/>
      </div>
    </div>
    
    <div class="flex items-center text-4xl font-bold text-white">:</div>
    
    <div class="flex flex-col items-center mx-2">
      <div class="flex gap-1">
        <img src="/0.png" class="w-6 md:w-16 lg:w-24 timer" id="seconds-tens" alt="clock"/>
        <img src="/0.png" class="w-6 md:w-16 lg:w-24 timer" id="seconds-ones" alt="clock"/>
      </div>
    </div>
  </div>
</div>

<script>
  function padNumber(num) {
    return num <= 9 ? "0" + num : "" + num;
  }

  function updateCountdown() {
    const targetDate = new Date('April 24, 2025 00:00:00').getTime();
    const now = new Date().getTime();
    const difference = targetDate - now;
    
    if (difference <= 0) {
      document.getElementById('days-ones').src = "/0.png";
      document.getElementById('hours-tens').src = "/0.png";
      document.getElementById('hours-ones').src = "/0.png";
      document.getElementById('minutes-tens').src = "/0.png";
      document.getElementById('minutes-ones').src = "/0.png";
      document.getElementById('seconds-tens').src = "/0.png";
      document.getElementById('seconds-ones').src = "/0.png";
      
      document.querySelector('h2').textContent = "The Date Has Arrived!";
      return;
    }
    
    const days = Math.floor(difference / (1000 * 60 * 60 * 24));
    const hours = Math.floor((difference % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    const minutes = Math.floor((difference % (1000 * 60 * 60)) / (1000 * 60));
    const seconds = Math.floor((difference % (1000 * 60)) / 1000);
    
    let daysStr = padNumber(days);
    if (days > 99) {
      daysStr = days.toString();
    } else {
      daysStr = "0" + daysStr;
    }
    
    document.getElementById('days-ones').src = "/" + daysStr[2] + ".png";
    
    const hoursStr = padNumber(hours);
    document.getElementById('hours-tens').src = "/" + hoursStr[0] + ".png";
    document.getElementById('hours-ones').src = "/" + hoursStr[1] + ".png";
    
    const minutesStr = padNumber(minutes);
    document.getElementById('minutes-tens').src = "/" + minutesStr[0] + ".png";
    document.getElementById('minutes-ones').src = "/" + minutesStr[1] + ".png";
    
    const secondsStr = padNumber(seconds);
    document.getElementById('seconds-tens').src = "/" + secondsStr[0] + ".png";
    document.getElementById('seconds-ones').src = "/" + secondsStr[1] + ".png";
  }

  function loadingAnimation() {
    const tubes = document.querySelectorAll('.timer');
    tubes.forEach(function(tube, index) {
      tube.src = index % 2 === 0 ? '/11.gif' : '/12.gif';
    });
  }

  if (typeof document !== 'undefined') {
    loadingAnimation();
    setTimeout(function() {
      updateCountdown();
      setInterval(updateCountdown, 1000);
    }, 1500);
  }
</script>
