---
import Starfield from "../components/Starfield.astro"
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
    <body>
        <Starfield />
        <div class="relative z-10">
            <slot />
        </div>
	</body>
</html>

<style>
    @font-face {
        font-family: 'sf-fource';
        src: url('/fonts/sf-fourche.regular.ttf');
    }
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
        font-family: 'sf-fource';
	}
</style>
